.current-weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 30vw;
    font-family: 'BarlowSemiCondensed-Medium', serif;
    font-style: normal;
    margin: 20px 0;
}