.tabs-bar {
  height: 40px;
  width: 65vw;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #b8b0ae;
  justify-content: space-evenly;
  border: none;

  .button-wrapper {
    .highlight {
    border-bottom: 2px solid #000000;

      &.selected {
        border-bottom: 2px solid #ef4565;
      }
    }

    .tab-button {
      height: 100%;
      width: 100%;
      border: none;
      background-color: white;
    }
  }
}
